/* Include the palette file */
@import url("./palette.css");
@import url("./toast.css");

/* Global Variables */
:root {
	/* ---------------------------------- Sizes --------------------------------- */
	--image-res: 10vh; /* The size of each image */
	--row-body-width: calc(var(--image-res) * 8); /* The calculated width of the row's body, defaulting to 8 image width */
	--row-width: calc(var(--row-body-width) + var(--image-res)); /* Total width of body + header */
	--radius: 1.8vh;
	--radius--light: 0.8vh;

	/* ---------------------------- Animation Speeds ---------------------------- */
	--anim-ms--slow: 1000ms;
	--anim-ms--norm: 500ms;
	--anim-ms--fast: 200ms;
	--anim-ms--inst: 100ms;
	/* ---------------------------------- Fonts --------------------------------- */
	--font-title: "Alice";
	--font-text: "Courier New";
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%; /* Take up full page */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--theme-bg);
	margin: 0; /* Remove the padding around it */
	color: var(--theme-text);
}

#mode-banner {
	height: 3%;
	color: var(--catppuccin-crust);

	/* Solid text border */
	text-shadow:
		2px 0 var(--theme-warning),
		-2px 0 var(--theme-warning),
		0 2px var(--theme-warning),
		0 -2px var(--theme-warning),
		1px 1px var(--theme-warning),
		-1px -1px var(--theme-warning),
		1px -1px var(--theme-warning),
		-1px 1px var(--theme-warning);

	/* Striped banner */
	background: repeating-linear-gradient(
		300deg,
		var(--catppuccin-base),
		var(--catppuccin-base) 5px,
		var(--theme-warning) 5px,
		var(--theme-warning) 10px
	);
	outline-color: var(--theme-warning);
	outline-style: solid;
	outline-width: 0px 2px 2px 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font: bold 2.8em var(--font-text);
	border-radius: 0px 0px 20px 20px;
}
#page-container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-view {
	height: 100%;
	width: 100%;
	overflow-y: inherit;
	overflow-x: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
	gap: 1%;
	justify-content: safe center;
}
