/* Include the palette file */
@import url("./palette.css");
@import url("./toast.css");

/* Global Variables */
:root {
	/* ---------------------------------- Sizes --------------------------------- */
	--imageRes: 10vh; /* The size of each image */
	--rowBodyWidth: calc(var(--imageRes) * 8); /* The calculated width of the row's body, defaulting to 8 image width */
	--fullRowWidth: calc(var(--rowBodyWidth) + var(--imageRes)); /* Total width of body + header */
	--radius: 1.8vh;
	--radius--light: 0.8vh;

	/* ---------------------------- Animation Speeds ---------------------------- */
	--animSlowMS: 1000ms;
	--animNormMS: 500ms;
	--animFastMS: 200ms;
	--animInstMS: 100ms;
	/* ---------------------------------- Fonts --------------------------------- */
	--font-title: "Alice";
	--font-text: "Courier New";
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%; /* Take up full page */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--primary);
	margin: 0; /* Remove the padding around it */
	color: var(--text--dark);
}

#mode-banner {
	height: 3%;
	color: var(--catppuccin-crust);

	/* Solid text border */
	text-shadow:
		2px 0 var(--catppuccin-yellow),
		-2px 0 var(--catppuccin-yellow),
		0 2px var(--catppuccin-yellow),
		0 -2px var(--catppuccin-yellow),
		1px 1px var(--catppuccin-yellow),
		-1px -1px var(--catppuccin-yellow),
		1px -1px var(--catppuccin-yellow),
		-1px 1px var(--catppuccin-yellow);

	/* Striped banner */
	background: repeating-linear-gradient(
		300deg,
		var(--catppuccin-base),
		var(--catppuccin-base) 5px,
		var(--catppuccin-yellow) 5px,
		var(--catppuccin-yellow) 10px
	);
	outline-color: var(--catppuccin-yellow);
	outline-style: solid;
	outline-width: 0px 2px 2px 2px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font: bold 2.8em var(--font-text);
	border-radius: 0px 0px 20px 20px;
}
#page-container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-view {
	height: 100%;
	width: 100%;
	overflow-y: inherit;
	overflow-x: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
	gap: 1%;
	justify-content: safe center;
}
