/* Include the palette file */
@import url("./palette.css");

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%; /* Take up full page */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--primary);
	margin: 0; /* Remove the padding around it */
	border: 6px red solid; /* DEBUGGING: */
}

#mode-banner {
	height: 80px;
	background-color: goldenrod;
}
#page-container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* DEBUGGING: */
	border: 5px blueviolet dotted;
}

.page-view {
	height: 100%;
	width: 100%;
	overflow-y: inherit;
	overflow-x: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
	gap: 1%;
	justify-content: safe center;

	/* DEBUGGING: */
	border: palevioletred 6px dashed;
}
