@font-face {
	font-family: "Alice";
	src: url("../assets/fonts/AliceYotsubaInc-Ea7Zj.ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* ------------------------------ Color Palette ----------------------------- */
	--primary: rgb(70, 70, 70);
	--text--dark: white;
	--colorHovered: rgb(255, 255, 255, 0.5);
	--colorSelected: rgba(69, 202, 255, 0.5);
}
