.home-view #cardbox {
	display: flex;
	justify-content: center;
	background-color: var(--catppuccin-mantle);
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	gap: 15px;
}

.home-view .home-cards {
	appearance: none;
	background: none;
	font: inherit;
	height: 20vh;
	aspect-ratio: 1;
	background-color: var(--catppuccin-base);
	border: none;
	border-radius: var(--radius--light);
	transition: outline 0.2s;
	outline: 0px transparent solid;
	color: inherit;
}
.home-view .home-cards:is(:hover, :focus-visible) {
	outline: 3px var(--catppuccin-teal) solid;
	border-radius: 5px;
}

.home-view #icon-plus {
	width: 100%;
	height: 100%;
}
