/* Include the palette file */
@import url("palette.css");

body{
    background-color: var(--primary);
}


.Container {
    border: 1px solid black;
    width: calc(var(--resolution) * var(--columnCount));
    /* center the container */
    margin-left: auto;
    margin-right: auto;
    /* Remove spacing between elements in the container*/
    display: flex;
    flex-wrap: wrap;
}

.RankRow{
    height: var(--resolution); /* Sets the height of the rows to be 1 image tall*/
    margin-bottom: 10px; /* Adds spacing between rows */
}
/* Make the bottom container where all images begin larger */
#imageContainer {
    /* Make it start off at least 2 images tall */
    height: calc(var(--resolution) * 2);
}

/* Resize all images to be uniform squares */
.rankingImage {
    width: var(--resolution);
    height: var(--resolution)
    /* FIXME: This currently stretches the image. */
    /* In future we should crop them instead. */
}

/* TODO: Make sure rowTab's draggable section extends the full
length available after the addRowAbove and addRowBelow buttons
are accounted for. This way, even if the row has a ton of images
and the row is 10 images tall, the draggable section will grow to match */

/* TODO: Make sure the number of dots on the draggable section
grows proportionally to its height size. */