/* -------------------------------------------------------------------------- */
/*                            RankUp Header Section                           */
/* -------------------------------------------------------------------------- */

.rankup-view #headerBox {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: var(--fullRowWidth);
	flex-wrap: wrap;
}
.rankup-view .headerText {
	background-color: transparent;
	resize: none;
	border: 3px transparent solid;
	border-radius: 10px;
	transition: border var(--animFastMS);
	color: inherit;
}
.rankup-view #headerTitle {
	font: 3em var(--font-title);
	flex: 1;
}

.rankup-view #headerDescription {
	font: 1.5em var(--font-text);
	flex: 1;
}
.rankup-view .headerText:hover {
	border-color: var(--colorHovered);
	transition: border-color var(--animNormMS);
}
.rankup-view .headerText:focus {
	outline: none;
	border-color: var(--colorSelected);
	transition: border var(--animSlowMS);
}

/* -------------------------------------------------------------------------- */
/*                              Row List Section                              */
/* -------------------------------------------------------------------------- */
/* 
rowList (containts all rowFulls)
├── rowFull
│   └── rowHeader
│       ├── rowTab
│       │   ├── addRowAboveButton
│       │   ├── dragHandle
│       │   └── addRowBelowButton
│       ├── rowTitle
│       └── rowOptions
│           ├── resetRowButton
│           └── deleteRowButton
└── (other rowFulls)
*/

.rankup-view #rowList {
	/* Center the rows */
	display: flex;
	flex-direction: column;
	width: 100%;
	/* Center children */
	align-items: center;

	gap: calc(var(--imageRes) / 20); /* DEBUGGING: This margin may not be needed later. */
}

.rankup-view .rowFull {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.rankup-view .rowTab {
	/* Size it to parent height and half the width and list children as column */
	height: 100%;
	width: calc(var(--imageRes) / 2);
	transition:
		width var(--animNormMS),
		padding var(--animNormMS),
		border-radius var(--animNormMS),
		border-width var(--animNormMS);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* Make the tab hang off the left side of the parent */
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	border-radius: var(--radius) 0 0 var(--radius); /* Round corners off left side */
	border: 3px var(--catppuccin-green) solid;
	background-color: color-mix(in srgb, var(--catppuccin-green) 20%, transparent 80%);
	overflow: hidden;
}
.rankup-view .rowTab.closed {
	width: 0;
	padding: 0;
	border-radius: 0;
	border-width: 0px;
}

.rankup-view .dragContainer {
	flex-grow: 1;
	min-height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rankup-view .tabButton {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.rankup-view .tabButton:hover {
	z-index: 2;
}
.rankup-view .addRowAboveButton {
	padding: 5px 5px 0px 5px;
}
.rankup-view .addRowBelowButton {
	padding: 0px 5px 5px 5px;
}
.rankup-view .dragHandle {
	min-height: 0;
	min-width: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	max-width: calc(var(--imageRes) / 4);
	padding: 0px 4px;
	cursor: grab;
}

.rankup-view .resetDeleteButton,
.rankup-view .tabButton {
	filter: brightness(60%);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition:
		transform var(--animInstMS),
		filter var(--animInstMS);
}
.rankup-view .resetDeleteButton:hover,
.rankup-view .tabButton:hover {
	filter: brightness(80%);
	transform: scale(1.1) rotate(0);
}
.rankup-view .resetDeleteButton:active,
.rankup-view .tabButton:active,
.rankup-view .dragContainer.is-row-dragging {
	filter: brightness(100%);
	transform: scale(0.9) rotate(0);
}

.rankup-view .resetDeleteButton.resetButton:active {
	transform: scale(0.9) rotate(-1turn);
}

.rankup-view .rowHeader {
	position: relative; /* Allows the resetDeleteContainer to be positioned relative to this */
	width: var(--imageRes); /* Make the header be a square */
	/* Make its contents be listed horizontally */
	display: flex;
	flex-direction: row;
	background-color: var(--catppuccin-red);
}

.rankup-view .rowBody {
	/* Make the rowBody take up the remaining space in the rowTab */
	width: var(--rowBodyWidth);
	min-height: var(--imageRes);
	background-color: var(--catppuccin-base);
	border: 2px var(--catppuccin-red) solid;
	box-sizing: content-box;
	/* Align items within to the left */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rankup-view .rankingImage {
	width: var(--imageRes);
	height: var(--imageRes);
	object-position: center;
	object-fit: cover;
	border: solid 0px transparent;
	background-color: transparent;
	border-radius: 0px;
	padding: 0px;
	backdrop-filter: none;
	transition:
		border var(--animFastMS),
		background-color var(--animFastMS),
		border-radius var(--animFastMS),
		padding var(--animFastMS),
		transform var(--animFastMS),
		backdrop-filter var(--animFastMS);
	cursor: grab;
}

.rankup-view .image-container .rankingImage.selectedImage {
	border: solid 5px color-mix(in srgb, var(--catppuccin-blue) 100%, transparent 50%);
	background-color: color-mix(in srgb, var(--catppuccin-blue) 100%, transparent 50%);
	border-radius: 10px;
	padding: 0px;
	backdrop-filter: blur(5px);
	transform: scale(1);
	z-index: 1;
}

.rankup-view.allow-image-hover .rankingImage:hover {
	border-radius: 10px;
	transform: scale(1.1);
	z-index: 5;
	background-color: color-mix(in srgb, var(--catppuccin-text) 20%, transparent 50%);
	border: 5px solid color-mix(in srgb, var(--catppuccin-text) 50%, transparent 50%);
}

.rankup-view .image-container .rankingImage.draggingImage {
	padding: 20px;
}

.rankup-view .rowTitle {
	width: 100%;
	text-align: center;
	font: 2em var(--font-title);
	background-color: transparent;
	border: none;
	color: var(--catppuccin-crust);
	z-index: 2;
}

.rankup-view .resetDeleteContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 0;
}

.rankup-view .resetDeleteButton {
	width: calc(var(--imageRes) / 3);
	height: calc(var(--imageRes) / 3);
	z-index: 3;
}

.rankup-view .disabled {
	opacity: 0.2;
	pointer-events: none;
}

/* -------------------------------------------------------------------------- */
/*                          Starter Container Section                         */
/* -------------------------------------------------------------------------- */

.rankup-view #imageContainer {
	width: var(--fullRowWidth);
	min-height: calc(var(--imageRes) * 2); /* Make it start off at least 2 images tall */
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--catppuccin-mantle);
	border-radius: 0 0 var(--radius) var(--radius);
}
