.form-view {
	justify-content: flex-start;
}
.form-view > :last-child {
	margin-top: auto; /* Snaps last item to bottom*/
}
.form-view > * {
	font-family: "Courier New", Courier, monospace;
	width: 80%;
	max-width: 1000px;
	color: var(--text--dark);
}

/* ------------------------------- Page Header ------------------------------ */
.form-view #form-header {
	font-size: 5em;
	font-family: "Alice";
	text-align: center;
}

/* ----------------------------- Labels & Inputs ---------------------------- */
.form-view .form-label {
	font-size: 2em;
	text-align: center;
}

.form-view .form-input {
	border: 3px var(--text--dark) solid;
	background-color: transparent;
	border-radius: var(--radius--light);
}

.form-view #form-title-input {
	height: 5%;
	font-size: 1.5em;
}

.form-view #form-desc-input {
	resize: vertical;
	height: 10%;
}
/* ------------------------------- User Images ------------------------------ */

.form-view #form-upload-area {
	border: 3px var(--text--dark) dashed;
	border-radius: var(--radius--light);
	height: 35%;
	display: flex;
	flex-direction: row;
}

.form-view #form-upload-area.drag-active,
.form-view #form-upload-area:hover {
	border-color: var(--catppuccin-teal);
	background-color: color-mix(in srgb, var(--catppuccin-teal) 10%, transparent 90%);
	color: var(--catppuccin-teal);
	cursor: pointer;
}

.form-view #upload-indicators {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 5%;
	justify-content: center;
	align-items: center;
}
.form-view #upload-indicators svg {
	height: 50%;
}
.form-view #upload-indicators[hidden],
.form-view #upload-image-container[hidden] {
	display: none;
}
.form-view #upload-image-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	flex: 1;
	gap: 0.5cqw;
	padding: 1%;
	overflow: scroll;
	/* container-type: ; */
}

.form-view .image-wrapper {
	width: 8cqw;
	border-radius: 5%;
	position: relative;
}

.form-view .uploaded-image {
	width: 100%;
	display: block;
	border-radius: inherit;
}
.form-view .delete-button {
	inset: 0;
	position: absolute;
	border-radius: inherit;
	background-color: color-mix(in srgb, var(--catppuccin-red) 30%, black 50%);
	opacity: 0;
	border: 4px solid var(--catppuccin-red);
	transition: border opacity 100ms;
	display: flex;
}
.form-view .delete-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.form-view .delete-button svg {
	color: var(--catppuccin-red);
	flex: 1;
	padding: 3%;
}

.form-view .form-button {
	background-color: var(--catppuccin-mantle);
	border: 3px solid var(--catppuccin-base);
	border-radius: 10px;
	cursor: pointer;
}

.form-view #clear-uploads {
	height: 5%;
	width: 100%;
	font-size: 1.5em;
}
.form-view #clear-uploads:disabled {
	opacity: 0.2;
}
.form-view #clear-uploads:hover:not(:disabled) {
	background-color: color-mix(in srgb, var(--catppuccin-red) 30%, black 50%);
	color: var(--catppuccin-red);
	border: 3px solid var(--catppuccin-red);
}

/* ------------------------------- Submission ------------------------------- */

.form-view #form-submit {
	height: 5vh;
	font-size: 2.5em;
}
.form-view #form-submit:hover {
	color: var(--catppuccin-green);
	background-color: color-mix(in srgb, var(--catppuccin-green) 30%, black 50%);
	border: 3px solid var(--catppuccin-green);
}
